#ban{
	margin-top:0px;
	background:url("../img/ban1280.gif") no-repeat center;
	height: 150px;
}
#nav_div{
			margin-top: 20px;
			width:800px;
			margin-left: auto;
			margin-right: auto;
		}

 .btnindex{
        	        	width:150px;
        	        	

        	
        }
#jumbotron{
	width: 80%;
}

#gp .p2,.p3,.p4,.p5,.p6{
	display: none;
}
.choice{
	/*border: 1px solid red;*/
	display: block;
}	
#reg{
	border: 1px solid black;
	width: 500px;
	height: 300px;
	display: none;
	position: absolute;
	z-index: 99
	width: 50%;
	margin-right: 0;	99;
	background-color: white;
	padding: 20px;
}
.mask{       
    background-color: #ccc; 
   filter:alpha(opacity=50);/*IE*/ 
   opacity:0.5;/*FF*/ 
   z-index:1; 
   position:absolute;/*IE6*/      
}
.bg_img{
	background: url("../img/yes.png") no-repeat center;
<<<<<<< HEAD
}

#qianyue_div{
	
=======
>>>>>>> upstream/master
}